/* style.css */
html {
    background-color: rgb(190, 190, 190);
}

/*コンテンツ全体を中央寄せに変更*/
html,
body,
.content {
    justify-content: center;
    align-items: center;
    margin: 0px;
    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, Meiryo, sans-serif;
}

li {
    display:inline-block;
    text-align: -webkit-match-parent;
    unicode-bidi: isolate;
    list-style-type: none;
    width: fit-content;
    margin: auto;
}
.header_menu_button
{
    padding: 15px;
    height: fit-content;
    transition: background-color .3s;
    transition: color .3s;
}

.header_menu_button:hover
{
    height: fit-content;
    background-color: rgb(42, 128, 165);
    color: white;
}

.header {
    position: fixed;
    width: 100%;
    height: auto;
    z-index: 10;
}

.header__wrapper {
    position:fixed;
    width: 100%;
    height: auto;
    align-content: center;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.921);
}
.footer
{
    background:linear-gradient(hsl(56, 100%, 66%), #f1e30f); 
    text-align: center;
    padding-bottom: 10px;
}